html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#MediaPlayer1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image1
{
   position: absolute;
   left: 0px;
   top: 420px;
   width: 1080px;
   height: 1080px;
   z-index: 1;
}
#wb_Image2
{
   position: absolute;
   left: 0px;
   top: 220px;
   width: 1080px;
   height: 2340px;
   z-index: 3;
}
#wb_Image3
{
   position: absolute;
   left: 0px;
   top: 51px;
   width: 1080px;
   height: 200px;
   z-index: 2;
}
#Layer1
{
   position: absolute;
   overflow: hidden;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 1080px;
   height: 1920px;
   z-index: 5;
}
#Layer2
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 1737px;
   width: 1080px;
   height: 2560px;
   z-index: 6;
}
#Layer1_Container
{
   width: 1080px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_MediaPlayer1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 1080px;
   height: 1920px;
   z-index: 0;
}
@media only screen and (min-width: 1920px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_MediaPlayer1
{
   left: 0px;
   top: 0px;
   width: 1170px;
   height: 2080px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (max-width: 1919px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px;
   top: 967px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_MediaPlayer1
{
   left: 0px;
   top: 0px;
   width: 1170px;
   height: 2080px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
